!!!
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    ${self.title()}
    %meta(httpEquiv="Content-Type", content="text/html;charset=UTF-8")
    %meta(name="keywords", content="python web application")
    %meta(name="description", content="pyramid web application")
    -# %link(rel="shortcut icon", href="${request.static_url('hiero:static/favicon.ico')}")
    = stylesheet_link_tag(request, "/hiero/css/app.css") | n

    = script_tag(request, "/hiero/js/jquery-1.7.1.js") | n 
    = script_tag(request, "/hiero/js/underscore.js") | n
    = script_tag(request, "/hiero/js/backbone.js") | n
    = script_tag(request, "/hiero/js/jquery.pjax.js") |n
    = script_tag(request, "/hiero/js/bootstrap-transition.js") | n
    = script_tag(request, "/hiero/js/bootstrap-modal.js") | n
    = script_tag(request, "/hiero/js/bootstrap-dropdown.js") | n
    = script_tag(request, "/hiero/js/app.js") | n

    = self.local_assets()

    <!-- [if lte IE 6]
      <link rel="stylesheet"
        href="${request.static_url('hiero:static/ie6.css')}"
        type="text/css" media="screen" charset="utf-8"></link> --!>
  %body
    ${self.body()}

%%def(name="local_assets()")

%%def(name="title()")
  %title Home

